<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        Name: <input type="text" name="name"><br>
        Email: <input type="email" name="email"><br>
        Birthday: <input type="datetime" name="birthday"><br>
        Gender: <input type="text" name="gender"><br>
        Cel: <input type="text" name="cel"><br>
        <button type="submit" name="submit">Submit</button>
    </form>
</body>
<div>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
</html>