<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <form action="/logout" method="post">
                <button type="submit" name="submit">Logout</button>
            </form>
          </ul>
        </div>
      </nav>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Add to cart</th>
          </tr>
        </thead>
        <tbody>
            {% for i in my_products %}
        
            <tr>

                    <th scope="row">{{i["id"]}}</th>
                    <td>{{i["name"]}}</td>
                    <td>{{i["price"]}}</td>
                    <td>{{i["quantity"]}}</td>
                
                <form action="/add" method="post">
                    <td><button type="submit" name="submit">Add</button></td>
                    <td><input type="hidden" name="product_id" id="product_id" value="{{i['id']}}" ></td>

                </form>
            </tr>

            {% endfor %}

          
        </tbody>
      </table>
      <h3>{{session["user_messsage"]}}</h3>
</body>
</html>